
<% if current_user %>
  <p> Hello, <%= current_user.name %></p>
<% end %>

<!-- shows hike created by the current user -->
<% current_user.hikes.each do |hike| %>
  <%= hike.name %>
<% end %>

<!-- shows all hikes created -->
<% @hikes.each do |hike| %>
  <%= hike.name %>
<% end %>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %> - <%= user.email %> - <%= user.password_digest %></li>
  <% end %>
</ul>

<form action="/logout" method="post">
  <input name="_method" value="Delete" type="hidden">
  <button>Logout</button>
</form>


