<%= form_for @hike do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :distance %>
    <%= f.number_field :distance, :class => 'form-control', :step => 'any' %>
  </div>

  <div class="form-group">
    <%= f.label :difficulty %>
    <%= f.text_field :difficulty, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :directions %>
    <%= f.text_area :directions, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :poo_bags_available %>
    <%= f.select :poo_bags_available, options_for_select([["Select One", ""], "Yes", "No"]) %>
  </div>

  <div class="form-group">
    <%= f.label :dogs_allowed_off_leash %>
    <%= f.select :dogs_allowed_off_leash, options_for_select([["Select One", ""], "Yes", "No"]) %>
  </div>

  <div class="form-group">
    <%= f.label :trash_cans %>
    <%= f.select :trash_cans, options_for_select([["Select One", ""], "Yes", "No"]) %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image%>
  </div>

  <%= f.submit class: 'btn btn-default' %>

<% end %>

