<% if current_user %>
  <p> Hello, <%= current_user.name %></p>
<% end %>

<form action="/users/index" method="get">
  <button>Back to homepage</button>
</form>

<br>
<!-- shows hike created by the current user -->
<% if current_user %>
  <% current_user.hikes.each do |hike| %>
    <p>Name: <%= hike.name %></p>
    <p>Location: <%= hike.location %></p>
    <p>Distance: <%= hike.distance %></p>
    <p>Difficulty: <%= hike.difficulty %></p>
    <p>Description: <%= hike.description %></p>
    <p>Directions: <%= hike.directions %></p>
    <p>Are poo bags available? <%= hike.poo_bags_available %></p>
    <p>Are dogs allowed off leash? <%= hike.dogs_allowed_off_leash %></p>
    <p>Are trash cans available? <%= hike.trash_cans %></p>
    <br>
  <% end %>
<% end %>

