<!DOCTYPE html>
<html>
<head>
  <title>DogHikesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <% if current_user %>
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to 'My Hikes', '/users/index' %></li>
      <li role="presentation"><%= link_to 'Add a New Hike', hikes_new_path %></li>
      <li role="presentation"><%= link_to 'See Hikes From All Users', users_path %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    </ul>
  <% end %>

<div class="container frontcolorbox">

  <%= yield %>
</div>

</body>
</html>
